.tittle
{ color:black; font-weight: bold;font-family: 'Times New Roman', Times, serif; padding: auto; border: 10px; text-align: center;
    border: solid black;
}

.input{
    color: black; font-style: italic;font-weight: bold;
}
.option
{
    background-color: aqua; 
}

.list{
    color: darkred;font-weight: bold;font-style: ;
}

.img {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
  }